lab2/data/Caltech101/
lab3/实验3-2021110788-左镕畅.zip
lab3/data/jena_climate_2009_2016
lab3/data/online_shopping_10_cats
lab3/code/.vector_cache
lab2/实验2-2021110788-左镕畅（更新）.zip
lab2/best_model/11-02-19-18model_500.pth